
.ShortCutSequenceList {
    padding: 0 !important;
    overflow: auto;
    max-height: 80px;
    flex: 1px;

    &[data-isexpanded=true] {
        max-height: unset;
    }

    li:first-child {
        margin-top: 0;
    }

    li {
        margin-top: 4px;
        padding: 0;
    }
}